<app-page-template [title]="this.title">
  <form [formGroup]="taskForm" class="content" (submit)="save()">
    <div class="form-group row">
      <label for="title" class="col-sm-3 col-form-label">Title</label>
      <input formControlName="title" type="text" id="title" class="form-control col-sm-9 col-form-label" autocomplete="off">
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label">Description</label>
        <textarea formControlName="description" class="form-control col-sm-9 col-form-label" id="description"  rows="3"></textarea>
      </div>
    <div class="button-group d-flex justify-content-end row">
      <button class="btn btn-success" type="submit">Save</button>
    </div>
    <div *ngIf="taskForm.errors" class="alert alert-danger row mt-2" @fade>
        Title must be unique
    </div>
  </form>
</app-page-template>